<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>API FLASH</title>
</head>
<body>
     <main>
         <section>
            <li>
               <ul>
                 GET           
               </ul> 
               <ul>
                  Post          
               </ul>            
            </li>                
         </section>                   
     </main>                       
</body>
</html>